# Node & Workspaces
node_modules/
npm-debug.log
yarn-error.log
.npm
.eslintcache

# Environment files
.env
.env.*
!.env.example
!.env.*.example

# Server patterns
server/dist/

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.history/

# System files
.DS_Store
Thumbs.db
